.projects-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(207, 237, 207);
}

.projects {
    color: black;
    padding: 20px 140px 0px 140px;
    display: flex;
}

.projects-header {
    color: white;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 20px;
}

.project-image-wrap {
    position: relative;
    height: 200px;
    width: 300px;
}

.project-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(237, 171, 171);
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    transition: opacity .2s, visibility .2s;
}

.project-image-wrap:hover .project-description {
    visibility: visible;
    opacity: 0.9;
}

.project-image {
    opacity: 0.6;
    height: 200px;
    width: 300px;
}

.project-name {
    color: lightcoral
}