.about {
    margin-left: 200px;
    margin-right: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-bio {
    padding-left: 50px;
}

.about-footer:hover {
    color:lightcoral;
}